### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
# check for any missing data
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
# there are duplicate users in this data set - create a copy of the data frame that includes only unique users
non_dup_df = purchase_data.drop_duplicates(subset="SN")
non_dup_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

## Player Count

* Display the total number of players

In [4]:
# count how many players there are
players_df = pd.DataFrame([{"Player Count": purchase_data["SN"].nunique()}])
players_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# create variables to hold analysis calculations
items_count = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
purchase_number = purchase_data["Purchase ID"].count()
revenue = purchase_data["Price"].sum()

# create data frame to hold summary data
analysis = pd.DataFrame([{"Number of Unique Items": items_count, "Average Price": average_price, "Number of Purchases": purchase_number, "Total Revenue": revenue}])
analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# count how many unique users there are of each gender
gender_count = non_dup_df["Gender"].value_counts()

# identify the percentage of total players each gender has
gender_percent = gender_count/non_dup_df["Gender"].count()*100

In [7]:
# create a data frame to summarize the gender demographics
gender_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent.map("{:.2f}%".format)})
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# group the purchase data together by gender
grouped_genders = purchase_data.groupby(['Gender'])

In [9]:
# find the number of purchases made by each gender
purchase_count = grouped_genders["Price"].count()

# find the average amount spent by each gender
avg_purchase = grouped_genders["Price"].mean()

# find the total amount spent by each gender
total_purchase = grouped_genders["Price"].sum()

# find the amount spent by each unique user of each gender
avg_per = total_purchase/grouped_genders["SN"].nunique()

In [10]:
# create a data frame to hold the summarized gender data
gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase.map("${:.2f}".format), "Total Purhase Value": total_purchase.map("${:,.2f}".format), "Avg Total Purchase per Person": avg_per.map("${:.2f}".format)})
gender_analysis

,Purchase Count,Average Purchase Price,Total Purhase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# create a variable to identify what the largest age value is
max_age = non_dup_df["Age"].max()

# Use cut() to create a bins column
non_dup_df['age_bins'] = pd.cut(x=non_dup_df['Age'], bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,max_age])

# Use cut() to create a labels column
non_dup_df['age_labels'] = pd.cut(x=non_dup_df['Age'], bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,max_age], labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])

C:\Users\cmraw\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\cmraw\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
# count how many unique users there are in each age range
age_counts = non_dup_df["age_labels"].value_counts()

# calculate the percentage of all unique users that falls into each age range
age_percent = age_counts/non_dup_df["SN"].count()*100

In [13]:
# create a data frame to show the age demographics
age_df = pd.DataFrame({"Total Count": age_counts, "Percentage of Players": age_percent.map("{:.2f}%".format)})
age_df

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
grouped_ages = non_dup_df.groupby(['age_labels'])

In [15]:
# find the number of purchases made by each age group
age_purchase_count = grouped_ages["Price"].count()

# find the average amount spent by each age group
age_avg_purchase = grouped_ages["Price"].mean()

# find the total amount spent by each age group
age_total_purchase = grouped_ages["Price"].sum()

# find the amount spent by each unique user of each age group
age_avg_per = age_total_purchase/grouped_ages["SN"].nunique()

In [16]:
# create a data frame to hold the summarized gender data
age_analysis = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_avg_purchase.map("${:.2f}".format), "Total Purhase Value": age_total_purchase.map("${:,.2f}".format), "Avg Total Purchase per Person": age_avg_per.map("${:.2f}".format)})
age_analysis

,Purchase Count,Average Purchase Price,Total Purhase Value,Avg Total Purchase per Person
age_labels,,,,
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# group the purchase data together by screen name (SN)
grouped_sn = purchase_data.groupby(['SN'])

In [18]:
# find how many purchases each user made
purchases = grouped_sn["Price"].count()

# find the average amount each user spent per purchase
avg_purchase = grouped_sn["Price"].mean()

# find the total amount each user spent
total_purchases = grouped_sn["Price"].sum()

In [19]:
sn_df = pd.DataFrame({"Purchase Count": purchases, "Average Purchase Price": avg_purchase.map("${:.2f}".format), "Total Purchase Value": total_purchases.map("${:.2f}".format)})
sn_df = sn_df.sort_values(by=['Purchase Count'], ascending=False)
sn_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# group the purchase data together by Item ID and Item Name
grouped_items = purchase_data.groupby(['Item ID', 'Item Name'])

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [ ]:
# find how many purchases there were for each item
purch_item = grouped_items["Price"].count()

# find the average amount each user spent per purchase
item_price = grouped_items["Price"].mean()

# find the total amount each user spent
total_purch_item = grouped_items["Price"].sum()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame