### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Although the bulk of revenue comes from males (as they are the bulk of players), females spent more per purchase (3.20) and per person (4.27) than males did (3.02 and 4.07, respectively)

* The items that bring in the most revenue are Final Critic (total of 59.99) and Oathbreaker, Last Hope of the Breaking Storm (total of 50.76)

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# check for any missing data
# purchase_data.count()

In [4]:
# there are duplicate users in this data set:
# create a copy of the data frame that includes only unique users for later calculations
non_dup_df = purchase_data.drop_duplicates(subset="SN")

## Player Count

* Display the total number of players

In [5]:
# count how many players there are
players_df = pd.DataFrame([{"Player Count": purchase_data["SN"].nunique()}])
players_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# create variables to hold analysis calculations
items_count = purchase_data["Item Name"].nunique()
average_price = round(purchase_data["Price"].mean(),2) #.map("${:.2f}".format)<- why do I get an error when trying to format?
purchase_number = purchase_data["Purchase ID"].count()
revenue = round(purchase_data["Price"].sum(),2) #.map("${:,.2f}".format)

# create data frame to hold summary data
purchase_analysis = pd.DataFrame([{"Number of Unique Items": items_count, "Average Price": average_price, "Number of Purchases": purchase_number, "Total Revenue": revenue}])
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# count how many unique users there are of each gender
gender_count = non_dup_df["Gender"].value_counts()

# identify the percentage of total players each gender has
gender_percent = gender_count/non_dup_df["Gender"].count()*100

In [8]:
# create a data frame to summarize the gender demographics
gender_analysis = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent.map("{:.2f}%".format)})
gender_analysis

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# group the purchase data together by gender
grouped_genders = purchase_data.groupby(['Gender'])

In [10]:
# find the number of purchases made by each gender
purchase_count = grouped_genders["Price"].count()

# find the average amount spent by each gender
avg_purchase = grouped_genders["Price"].mean()

# find the total amount spent by each gender
total_purchase = grouped_genders["Price"].sum()

# find the amount spent by each unique user of each gender
avg_per = total_purchase/grouped_genders["SN"].nunique()

In [11]:
# create a data frame to hold the summarized gender data
grouped_gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase.map("${:.2f}".format), "Total Purhase Value": total_purchase.map("${:,.2f}".format), "Avg Total Purchase per Person": avg_per.map("${:.2f}".format)})
grouped_gender_analysis

,Purchase Count,Average Purchase Price,Total Purhase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# create a variable to identify what the largest age value is
max_age = purchase_data["Age"].max()

# set bins and labels
bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,max_age]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Use cut() to create a bins column in the main data frame
purchase_data['age_bins'] = pd.cut(x=purchase_data['Age'], bins=bins)

# Use cut() to create a labels column in the main data frame
purchase_data['age_labels'] = pd.cut(x=purchase_data['Age'], bins=bins, labels=labels)

# copy the main data frame back into the data frame of unique users, so that age bins and age labels are in this df as well
non_dup_df = purchase_data.drop_duplicates(subset="SN")

In [13]:
# count how many unique users there are in each age range
age_counts = non_dup_df["age_labels"].value_counts()

# calculate the percentage of all unique users that falls into each age range
age_percent = age_counts/non_dup_df["SN"].count()*100

In [14]:
# create a data frame to show the age demographics
age_df = pd.DataFrame({"Total Count": age_counts, "Percentage of Players": age_percent.map("{:.2f}%".format)})
age_df

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
grouped_ages = purchase_data.groupby(['age_labels'])

In [16]:
unique_grouped_ages = non_dup_df.groupby(['age_labels'])

In [17]:
# find the number of purchases made by each age group
age_purchase_count = purchase_data["Price"].count()

# find the average amount spent by each age group
age_avg_purchase = grouped_ages["Price"].mean()

# find the total amount spent by each age group
age_total_purchase = grouped_ages["Price"].sum()

# find the amount spent by each unique user of each age group
age_avg_per = age_total_purchase/unique_grouped_ages["SN"].nunique()

In [18]:
# create a data frame to hold the summarized gender data
age_analysis = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_avg_purchase.map("${:.2f}".format), "Total Purhase Value": age_total_purchase.map("${:,.2f}".format), "Avg Total Purchase per Person": age_avg_per.map("${:.2f}".format)})
age_analysis

,Purchase Count,Average Purchase Price,Total Purhase Value,Avg Total Purchase per Person
age_labels,,,,
<10,780,$3.35,$77.13,$4.54
10-14,780,$2.96,$82.78,$3.76
15-19,780,$3.04,$412.89,$3.86
20-24,780,$3.05,"$1,114.06",$4.32
25-29,780,$2.90,$293.00,$3.81
30-34,780,$2.93,$214.00,$4.12
35-39,780,$3.60,$147.67,$4.76
40+,780,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# group the purchase data together by screen name (SN)
grouped_sn = purchase_data.groupby(['SN'])

In [20]:
# find how many purchases each user made
purchases = grouped_sn["Price"].count()

# find the average amount each user spent per purchase
avg_purchase = grouped_sn["Price"].mean()

# find the total amount each user spent
total_purchases = grouped_sn["Price"].sum()

In [21]:
sn_df = pd.DataFrame({"Purchase Count": purchases, "Average Purchase Price": avg_purchase.map("${:.2f}".format), "Total Purchase Value": total_purchases})
sn_df = sn_df.sort_values(by=['Total Purchase Value'], ascending=False)
sn_df.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# group the purchase data together by Item ID and Item Name
grouped_items = purchase_data.groupby(['Item ID', 'Item Name'])

In [23]:
# find how many purchases there were for each item
purch_item = grouped_items["Price"].count()

# find the price for each item
item_price = grouped_items["Price"].mean().map("${:.2f}".format)

# find the total amount each user spent
total_purch_item = round(grouped_items["Price"].sum(),2)

In [24]:
# create a data frame to hold the summarized item data
item_analysis = pd.DataFrame({"Purchase Count": purch_item, "Item Price": item_price, "Total Purchase Value": total_purch_item})
popular = item_analysis.sort_values(by=['Purchase Count'], ascending=False)
popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
profitable = item_analysis.sort_values(by=["Total Purchase Value"], ascending=False)
profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80